body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    /*background-image: url("/mini-game/static/background.png");*/
    background-image: url("/mini-game/static/OceanBackgroundFlappyBird.png");
}

div-game-screen {
    display: flex;
    justify-content: center;
}